<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results page</title>
    <link rel="stylesheet" href="semantic/semantic.css">
    <script src="results.json"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="semantic/semantic.min.js"></script>
</head>
<body>
<div class="ui top attached secondary menu">
    <div class="container header item">
        <b style="color: red;">H&M</b>
    </div>
</div>
<br>
<div class="ui container">
    <div class="ui huge header" id="noResults"></div>
    <div class="ui four basic cards" id="cards">
        <div v-for="product in products" class="ui basic card">
            <a class="image" href="{{product.product_url}}" target="_blank">
                <img v-bind:src="'http://' + product.picture_url">
            </a>
            <div class="content">
                <a class="header" href="{{product.product_url}}" target="_blank">{{product.price}} Ft</a>
                <div class="meta">
                    <span class="date">{{product.site}}</span>
                </div>
                <div class="description">
                    {{product.category}}
                </div>
            </div>
            <div class="extra content">
                <a href="{{product.product_url}}" target="_blank">
                    <i class="world icon"></i>
                    Megnyitom
                </a>
            </div>
        </div>
    </div>
</div>
<script src="scripts/app.js"></script>
</body>
</html>